{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
{% endblock %}


{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{ test.title }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Num of questions</td>
                        <td>{{ test.questions_count }}</td>
                      </tr>
                      <tr>
                        <td>Num of runs</td>
                        <td>{{ test.num_of_runs }}</td>
                      </tr>
                      <tr>
                        <td>Best result</td>
                        <td>{{ test.best_result }}</td>
                      </tr>
                      <tr>
                        <td>Last run</td>
                        <td>{{ test.last_run }}</td>
                      </tr>
                      <tr>
                        <td>Current open run</td>
                        <td>{{ test_result.datetime_run }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>
                {% if test_result.is_new %}
                    <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'test:next' pk=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'test:next' pk=test.id %}" type="button" class="btn-lg btn-warning">CONTINUE ▶️</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}