{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load math %}

{% block title %}
    {{ block.super }}
    Question #{{ question.number }}/{{ question.test.questions_count }}: <b>{{ question.text }}</b> ?
    <div class="progress mt-4">
        {% expr '(%1 - 1)/%2*100' question.number question.test.questions_count as percent %}

      <div class="progress-bar" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>

    </div>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <div class="checkbox">
              <label><input type="checkbox" name="{{ prefix }}{{ forloop.counter }}" value="1">   {{ answer }}</label>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}